<header id="header">
  <div class="row">
    <nav class="col-md-9">
      <ul>
        <li><a href="{{ path('_blog_default') }}">Inicio</a></li>
        <li><a href="{{ path('_blog_archive') }}">Archivo</a></li>
        <li><a href="{{ path('_blog_feed') }}">RSS</a></li>
      </ul>
    </nav>
    <div class="col-md-3">
      <h1><a href="{{ path('_blog_default') }}">{% block blog_name %}BLOG NAME{% endblock %}</a></h1>
    </div>
  </div>
</header>
