<p class="time">
  {% trans %}Published on{% endtrans %}
{#   <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | localeDate('full') }}</time>#}
  <time datetime="{{ post.publishedAt | date('c') }}">{{ post.publishedAt | date("m-d-Y, H:i", "Europe/Warsaw") }}.</time>
</p>
